# Question 1¶
Load the energy data from the file assets/Energy Indicators.xls, which is a list of indicators of energy supply and renewable electricity production from the United Nations for the year 2013, and should be put into a DataFrame with the variable name of Energy.

Keep in mind that this is an Excel file, and not a comma separated values file. Also, make sure to exclude the footer and header information from the datafile. The first two columns are unneccessary, so you should get rid of them, and you should change the column labels so that the columns are:

['Country', 'Energy Supply', 'Energy Supply per Capita', '% Renewable]

Convert Energy Supply to gigajoules (Note: there are 1,000,000 gigajoules in a petajoule). For all countries which have missing data (e.g. data with "...") make sure this is reflected as np.NaN values.

Rename the following list of countries (for use in later questions):

"Republic of Korea": "South Korea",
"United States of America": "United States",
"United Kingdom of Great Britain and Northern Ireland": "United Kingdom",
"China, Hong Kong Special Administrative Region": "Hong Kong"

There are also several countries with numbers and/or parenthesis in their name. Be sure to remove these, e.g. 'Bolivia (Plurinational State of)' should be 'Bolivia'. 'Switzerland17' should be 'Switzerland'.

Next, load the GDP data from the file assets/world_bank.csv, which is a csv containing countries' GDP from 1960 to 2015 from World Bank. Call this DataFrame GDP.

Make sure to skip the header, and rename the following list of countries:

"Korea, Rep.": "South Korea", 
"Iran, Islamic Rep.": "Iran",
"Hong Kong SAR, China": "Hong Kong"

Finally, load the Sciamgo Journal and Country Rank data for Energy Engineering and Power Technology from the file assets/scimagojr-3.xlsx, which ranks countries based on their journal contributions in the aforementioned area. Call this DataFrame ScimEn.

Join the three datasets: GDP, Energy, and ScimEn into a new dataset (using the intersection of country names). Use only the last 10 years (2006-2015) of GDP data and only the top 15 countries by Scimagojr 'Rank' (Rank 1 through 15).

The index of this DataFrame should be the name of the country, and the columns should be ['Rank', 'Documents', 'Citable documents', 'Citations', 'Self-citations', 'Citations per document', 'H index', 'Energy Supply', 'Energy Supply per Capita', '% Renewable', '2006', '2007', '2008', '2009', '2010', '2011', '2012', '2013', '2014', '2015'].

This function should return a DataFrame with 20 columns and 15 entries, and the rows of the DataFrame should be sorted by "Rank".

In [1]:
import pandas as pd
import numpy as np

Energy = pd.read_excel(r"C:\Users\Юрий\Desktop\Занятия\Coursera\assignments\assignment3\assets\Energy Indicators.xls")
Energy = Energy[(Energy.index>14)&(Energy.index<244)]
Energy.drop(Energy.columns[[0, 1]], axis=1, inplace=True)
Energy.columns = ['Country', 'Energy Supply', 'Energy Supply per Capita', '% Renewable']
Energy.drop(Energy.index[[0,1]], inplace=True)
# почистили исходный файл. убрали заголовок (верхние 14 строк и примечание, нижние строки после 244й)
# убрали первые две колонки(пустые), колонки переименовали как требуется в задании.удалили две верхние строки (пустые).
Energy

,Country,Energy Supply,Energy Supply per Capita,% Renewable
17,Afghanistan,321,10,78.6693
18,Albania,102,35,100
19,Algeria,1959,51,0.55101
20,American Samoa,...,...,0.641026
21,Andorra,9,121,88.6957
...,...,...,...,...
239,Viet Nam,2554,28,45.3215
240,Wallis and Futuna Islands,0,26,0
241,Yemen,344,13,0
242,Zambia,400,26,99.7147
243,Zimbabwe,480,32,52.5361

In [2]:
cols =['Energy Supply', 'Energy Supply per Capita', '% Renewable']
mask = Energy[cols].applymap(lambda x: isinstance(x, (int, float)))
Energy[cols] =  Energy[cols].where(mask)
Energy.loc[:,'Energy Supply'] *= 1000000
Energy
# заменили все нечисловые значения на NAN. И умножили Energy Supply на 1 000 0000 (перевели петаджоули в гигаджоули). теперь везде гигаджоули.

,Country,Energy Supply,Energy Supply per Capita,% Renewable
17,Afghanistan,321000000,10,78.6693
18,Albania,102000000,35,100
19,Algeria,1959000000,51,0.55101
20,American Samoa,NaN,NaN,0.641026
21,Andorra,9000000,121,88.6957
...,...,...,...,...
239,Viet Nam,2554000000,28,45.3215
240,Wallis and Futuna Islands,0,26,0
241,Yemen,344000000,13,0
242,Zambia,400000000,26,99.7147
243,Zimbabwe,480000000,32,52.5361

In [3]:
pattern = ("\d.*| \(.+")  #X(?=Y)
Energy['Country'].replace((pattern),'',regex=True, inplace=True)
Energy = Energy.set_index('Country')
Energy = Energy.rename(index={"Republic of Korea": "South Korea",
"United States of America": "United States",
"United Kingdom of Great Britain and Northern Ireland": "United Kingdom",
"China, Hong Kong Special Administrative Region": "Hong Kong"})
Energy.head(50)
#with pd.option_context('display.max_rows', None, 'display.max_columns', None):
    #print(Energy)

,Energy Supply,Energy Supply per Capita,% Renewable
Country,,,
Afghanistan,321000000,10,78.6693
Albania,102000000,35,100
Algeria,1959000000,51,0.55101
American Samoa,NaN,NaN,0.641026
Andorra,9000000,121,88.6957
Angola,642000000,27,70.9091
Anguilla,2000000,136,0
Antigua and Barbuda,8000000,84,0
Argentina,3378000000,79,24.0645
Armenia,143000000,48,28.2361
Aruba,12000000,120,14.8707
Australia,5386000000,231,11.8108
Austria,1391000000,164,72.4528
Azerbaijan,567000000,60,6.38434
Bahamas,45000000,118,0
Bahrain,574000000,425,0
Bangladesh,1625000000,10,1.96633
Barbados,19000000,69,0
Belarus,1142000000,120,0.463389
Belgium,2338000000,210,9.95974
Belize,13000000,39,64.69
Benin,170000000,16,0
Bermuda,6000000,88,0
Bhutan,63000000,83,100
Bolivia,336000000,32,31.4771
"Bonaire, Sint Eustatius and Saba",5000000,213,0
Bosnia and Herzegovina,266000000,70,41.4647
Botswana,86000000,39,0.131406
Brazil,12149000000,59,69.648
British Virgin Islands,2000000,85,0
Brunei Darussalam,127000000,310,0.045434
Bulgaria,703000000,97,17.2346
Burkina Faso,164000000,10,14.5007
Burundi,58000000,6,86.7925
Cabo Verde,7000000,15,21.2276
Cambodia,250000000,17,57.3116
Cameroon,307000000,14,70.8863
Canada,10431000000,296,61.9454
Cayman Islands,8000000,131,0
Central African Republic,23000000,5,85.6354
Chad,77000000,6,0
Chile,1613000000,92,28.0066
China,127191000000,93,19.7549
Hong Kong,585000000,82,0
"China, Macao Special Administrative Region",47000000,83,0
Colombia,1513000000,32,63.0028
Comoros,5000000,7,11.6279
Congo,102000000,23,57.7489
Cook Islands,1000000,48,0
Costa Rica,222000000,47,88.7364

In [4]:
# Теперь подгружаем данныеы по ВВП. делаем заголовком 4ю строку (3 верхних пропускаем). устанавливаем индексом колонку Country Name
GDP = pd.read_csv(r"C:\Users\Юрий\Desktop\Занятия\Coursera\assignments\assignment3\assets\world_bank.csv",header=4, 
                  index_col='Country Name')
# меняем названия некоторых стран
GDP= GDP.rename(index={"Korea, Rep.": "South Korea", 
"Iran, Islamic Rep.": "Iran",
"Hong Kong SAR, China": "Hong Kong"})
GDP.head()
#with pd.option_context('display.max_rows', None, 'display.max_columns', None):
    #print(GDP)

,Country Code,Indicator Name,Indicator Code,1960,1961,1962,1963,1964,1965,1966,...,2006,2007,2008,2009,2010,2011,2012,2013,2014,2015
Country Name,,,,,,,,,,,,,,,,,,,,,
Aruba,ABW,GDP at market prices (constant 2010 US$),NY.GDP.MKTP.KD,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,2.467704e+09,NaN,NaN,NaN,NaN,NaN
Andorra,AND,GDP at market prices (constant 2010 US$),NY.GDP.MKTP.KD,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,4.018196e+09,4.021331e+09,3.675728e+09,3.535389e+09,3.346317e+09,3.185605e+09,3.129538e+09,3.127550e+09,NaN,NaN
Afghanistan,AFG,GDP at market prices (constant 2010 US$),NY.GDP.MKTP.KD,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,1.030523e+10,1.172119e+10,1.214448e+10,1.469733e+10,1.593680e+10,1.691113e+10,1.935220e+10,1.973134e+10,1.999032e+10,2.029415e+10
Angola,AGO,GDP at market prices (constant 2010 US$),NY.GDP.MKTP.KD,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,5.581103e+10,6.842044e+10,7.787420e+10,7.975320e+10,8.247091e+10,8.570262e+10,9.012096e+10,9.626143e+10,1.008863e+11,1.039106e+11
Albania,ALB,GDP at market prices (constant 2010 US$),NY.GDP.MKTP.KD,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,9.771760e+09,1.034829e+10,1.112752e+10,1.150029e+10,1.192695e+10,1.223109e+10,1.240477e+10,1.254247e+10,1.279331e+10,1.312082e+10

In [5]:
# подгружаем третий датафрейм
ScimEn = pd.read_excel(r"C:\Users\Юрий\Desktop\Занятия\Coursera\assignments\assignment3\assets\scimagojr-3.xlsx")
ScimEn.head(5)

,Rank,Country,Documents,Citable documents,Citations,Self-citations,Citations per document,H index
0,1,China,127050,126767,597237,411683,4.70,138
1,2,United States,96661,94747,792274,265436,8.20,230
2,3,Japan,30504,30287,223024,61554,7.31,134
3,4,United Kingdom,20944,20357,206091,37874,9.84,139
4,5,Russian Federation,18534,18301,34266,12422,1.85,57

In [6]:
#требуется соединить все три датафрейма по названиям стран, с информацией за 2006-2015 год и только первые 15 стран из ScimEn
# нужные колонки - ['Rank', 'Documents', 'Citable documents', 'Citations', 'Self-citations', 
#                   'Citations per document', 'H index', 'Energy Supply', 'Energy Supply per Capita', '% Renewable', 
#                   '2006', '2007', '2008', '2009', '2010', '2011', '2012', '2013', '2014', '2015'].
#This function should return a DataFrame with 20 columns and 15 entries, and the rows of the DataFrame should be sorted by "Rank".

In [7]:
new_df = pd.merge(ScimEn[(ScimEn.index<15)], Energy, how = 'inner', left_on='Country', right_on='Country')
new_df

,Rank,Country,Documents,Citable documents,Citations,Self-citations,Citations per document,H index,Energy Supply,Energy Supply per Capita,% Renewable
0,1,China,127050,126767,597237,411683,4.70,138,127191000000,93,19.7549
1,2,United States,96661,94747,792274,265436,8.20,230,90838000000,286,11.571
2,3,Japan,30504,30287,223024,61554,7.31,134,18984000000,149,10.2328
3,4,United Kingdom,20944,20357,206091,37874,9.84,139,7920000000,124,10.6005
4,5,Russian Federation,18534,18301,34266,12422,1.85,57,30709000000,214,17.2887
5,6,Canada,17899,17620,215003,40930,12.01,149,10431000000,296,61.9454
6,7,Germany,17027,16831,140566,27426,8.26,126,13261000000,165,17.9015
7,8,India,15005,14841,128763,37209,8.58,115,33195000000,26,14.9691
8,9,France,13153,12973,130632,28601,9.93,114,10597000000,166,17.0203
9,10,South Korea,11983,11923,114675,22595,9.57,104,11007000000,221,2.27935
10,11,Italy,10964,10794,111850,26661,10.20,106,6530000000,109,33.6672
11,12,Spain,9428,9330,123336,23964,13.08,115,4923000000,106,37.9686
12,13,Iran,8896,8819,57470,19125,6.46,72,9172000000,119,5.70772
13,14,Australia,8831,8725,90765,15606,10.28,107,5386000000,231,11.8108
14,15,Brazil,8668,8596,60702,14396,7.00,86,12149000000,59,69.648

In [8]:
result = pd.merge(new_df, GDP[['2006', '2007', '2008', '2009', '2010', '2011', '2012', '2013', '2014', '2015']], how = 'inner', left_on='Country', right_on='Country Name')
result = result.set_index('Country')
result

,Rank,Documents,Citable documents,Citations,Self-citations,Citations per document,H index,Energy Supply,Energy Supply per Capita,% Renewable,2006,2007,2008,2009,2010,2011,2012,2013,2014,2015
Country,,,,,,,,,,,,,,,,,,,,
China,1,127050,126767,597237,411683,4.70,138,127191000000,93,19.7549,3.992331e+12,4.559041e+12,4.997775e+12,5.459247e+12,6.039659e+12,6.612490e+12,7.124978e+12,7.672448e+12,8.230121e+12,8.797999e+12
United States,2,96661,94747,792274,265436,8.20,230,90838000000,286,11.571,1.479230e+13,1.505540e+13,1.501149e+13,1.459484e+13,1.496437e+13,1.520402e+13,1.554216e+13,1.577367e+13,1.615662e+13,1.654857e+13
Japan,3,30504,30287,223024,61554,7.31,134,18984000000,149,10.2328,5.496542e+12,5.617036e+12,5.558527e+12,5.251308e+12,5.498718e+12,5.473738e+12,5.569102e+12,5.644659e+12,5.642884e+12,5.669563e+12
United Kingdom,4,20944,20357,206091,37874,9.84,139,7920000000,124,10.6005,2.419631e+12,2.482203e+12,2.470614e+12,2.367048e+12,2.403504e+12,2.450911e+12,2.479809e+12,2.533370e+12,2.605643e+12,2.666333e+12
Russian Federation,5,18534,18301,34266,12422,1.85,57,30709000000,214,17.2887,1.385793e+12,1.504071e+12,1.583004e+12,1.459199e+12,1.524917e+12,1.589943e+12,1.645876e+12,1.666934e+12,1.678709e+12,1.616149e+12
Canada,6,17899,17620,215003,40930,12.01,149,10431000000,296,61.9454,1.564469e+12,1.596740e+12,1.612713e+12,1.565145e+12,1.613406e+12,1.664087e+12,1.693133e+12,1.730688e+12,1.773486e+12,1.792609e+12
Germany,7,17027,16831,140566,27426,8.26,126,13261000000,165,17.9015,3.332891e+12,3.441561e+12,3.478809e+12,3.283340e+12,3.417298e+12,3.542371e+12,3.556724e+12,3.567317e+12,3.624386e+12,3.685556e+12
India,8,15005,14841,128763,37209,8.58,115,33195000000,26,14.9691,1.265894e+12,1.374865e+12,1.428361e+12,1.549483e+12,1.708459e+12,1.821872e+12,1.924235e+12,2.051982e+12,2.200617e+12,2.367206e+12
France,9,13153,12973,130632,28601,9.93,114,10597000000,166,17.0203,2.607840e+12,2.669424e+12,2.674637e+12,2.595967e+12,2.646995e+12,2.702032e+12,2.706968e+12,2.722567e+12,2.729632e+12,2.761185e+12
South Korea,10,11983,11923,114675,22595,9.57,104,11007000000,221,2.27935,9.410199e+11,9.924316e+11,1.020510e+12,1.027730e+12,1.094499e+12,1.134796e+12,1.160809e+12,1.194429e+12,1.234340e+12,1.266580e+12
Italy,11,10964,10794,111850,26661,10.20,106,6530000000,109,33.6672,2.202170e+12,2.234627e+12,2.211154e+12,2.089938e+12,2.125185e+12,2.137439e+12,2.077184e+12,2.040871e+12,2.033868e+12,2.049316e+12
Spain,12,9428,9330,123336,23964,13.08,115,4923000000,106,37.9686,1.414823e+12,1.468146e+12,1.484530e+12,1.431475e+12,1.431673e+12,1.417355e+12,1.380216e+12,1.357139e+12,1.375605e+12,1.419821e+12
Iran,13,8896,8819,57470,19125,6.46,72,9172000000,119,5.70772,3.895523e+11,4.250646e+11,4.289909e+11,4.389208e+11,4.677902e+11,4.853309e+11,4.532569e+11,4.445926e+11,4.639027e+11,NaN
Australia,14,8831,8725,90765,15606,10.28,107,5386000000,231,11.8108,1.021939e+12,1.060340e+12,1.099644e+12,1.119654e+12,1.142251e+12,1.169431e+12,1.211913e+12,1.241484e+12,1.272520e+12,1.301251e+12
Brazil,15,8668,8596,60702,14396,7.00,86,12149000000,59,69.648,1.845080e+12,1.957118e+12,2.056809e+12,2.054215e+12,2.208872e+12,2.295245e+12,2.339209e+12,2.409740e+12,2.412231e+12,2.319423e+12

# Question 2
The previous question joined three datasets then reduced this to just the top 15 entries. When you joined the datasets, but before you reduced this to the top 15 items, how many entries did you lose?

This function should return a single number.

# Question 3
What are the top 15 countries for average GDP over the last 10 years?

This function should return a Series named avgGDP with 15 countries and their average GDP sorted in descending order.

In [9]:
avgGDP = result[['2006', '2007', '2008', '2009', '2010', '2011', '2012', '2013', '2014', '2015']].T.sum().sort_values(ascending=False)
avgGDP

Country
United States         1.536434e+14
China                 6.348609e+13
Japan                 5.542208e+13
Germany               3.493025e+13
France                2.681725e+13
United Kingdom        2.487907e+13
Brazil                2.189794e+13
Italy                 2.120175e+13
India                 1.769297e+13
Canada                1.660647e+13
Russian Federation    1.565459e+13
Spain                 1.418078e+13
Australia             1.164043e+13
South Korea           1.106715e+13
Iran                  3.997402e+12
dtype: float64

# Question 4
By how much had the GDP changed over the 10 year span for the country with the 6th largest average GDP?

This function should return a single number.

In [10]:
result.loc[avgGDP.index[5], '2015']-result.loc[avgGDP.index[5], '2006']

246702696075.3999

# Question 5
What is the mean energy supply per capita?

This function should return a single number.

In [11]:
result['Energy Supply per Capita'].mean()

157.6

# Question 6
What country has the maximum % Renewable and what is the percentage?

This function should return a tuple with the name of the country and the percentage.

In [12]:
(result.index[result['% Renewable'].values.argmax()],
             result.loc[result.index[result['% Renewable'].values.argmax()],'% Renewable'])

('Brazil', 69.64803)

# Question 7
Create a new column that is the ratio of Self-Citations to Total Citations. What is the maximum value for this new column, and what country has the highest ratio?

This function should return a tuple with the name of the country and the ratio.

In [13]:
result['SC to C'] = result['Self-citations'] / result['Citations']
(result.index[result['SC to C'].values.argmax()],
             result.loc[result.index[result['SC to C'].values.argmax()],'SC to C'])

('China', 0.6893126179389422)

# Question 8
Create a column that estimates the population using Energy Supply and Energy Supply per capita. What is the third most populous country according to this estimate?

This function should return the name of the country

In [14]:
s = (result['Energy Supply'] / result['Energy Supply per Capita']).sort_values(ascending=False)
s.index[2]

'United States'

# Question 9
Create a column that estimates the number of citable documents per person. What is the correlation between the number of citable documents per capita and the energy supply per capita? Use the .corr() method, (Pearson's correlation).

This function should return a single number.

(Optional: Use the built-in function plot9() to visualize the relationship between Energy Supply per Capita vs. Citable docs per Capita)

In [15]:
import matplotlib as plt
%matplotlib inline
    
new_d = result
new_d['PopEst'] = new_d['Energy Supply'] / new_d['Energy Supply per Capita']
new_d['Citable docs per Capita'] = new_d['Citable documents'] / new_d['PopEst']
new_d['Citable docs per Capita']=np.float64(new_d['Citable docs per Capita'])
new_d['Energy Supply per Capita']=np.float64(new_d['Energy Supply per Capita'])
new_d['Citable docs per Capita'].corr(new_d['Energy Supply per Capita']) 
    #return new_d.plot(x='Citable docs per Capita', y='Energy Supply per Capita', kind='scatter', xlim=[0, 0.0006])

0.7940010435442942

# Question 10
Create a new column with a 1 if the country's % Renewable value is at or above the median for all countries in the top 15, and a 0 if the country's % Renewable value is below the median.

This function should return a series named HighRenew whose index is the country name sorted in ascending order of rank.

In [48]:
result['med'] = result['% Renewable'].median()
def f_med(Renewable, med):
        if Renewable>=med:
            return 1
        elif Renewable<med:
            return 0
result['% Renewable_med'] = result.apply(lambda x: f_med(x['% Renewable'], x['med']), axis=1)
HighRenew =result['% Renewable_med'][::-1]
result['PopEst'].std()

437276700.6034123

# Question 11
Use the following dictionary to group the Countries by Continent, then create a DataFrame that displays the sample size (the number of countries in each continent bin), and the sum, mean, and std deviation for the estimated population of each country.

ContinentDict  = {'China':'Asia', 
                  'United States':'North America', 
                  'Japan':'Asia', 
                  'United Kingdom':'Europe', 
                  'Russian Federation':'Europe', 
                  'Canada':'North America', 
                  'Germany':'Europe', 
                  'India':'Asia',
                  'France':'Europe', 
                  'South Korea':'Asia', 
                  'Italy':'Europe', 
                  'Spain':'Europe', 
                  'Iran':'Asia',
                  'Australia':'Australia', 
                  'Brazil':'South America'}

This function should return a DataFrame with index named Continent ['Asia', 'Australia', 'Europe', 'North America', 'South America'] and columns ['size', 'sum', 'mean', 'std']

In [72]:
ContinentDict = {'China':'Asia', 'United States':'North America', 'Japan':'Asia', 
                 'United Kingdom':'Europe', 'Russian Federation':'Europe', 'Canada':'North America', 
                 'Germany':'Europe', 'India':'Asia', 'France':'Europe', 'South Korea':'Asia', 
                 'Italy':'Europe', 'Spain':'Europe', 'Iran':'Asia', 'Australia':'Australia', 'Brazil':'South America'}
result['PopEst'] = pd.to_numeric(result['PopEst'])
a11 = result.groupby(ContinentDict)['PopEst'].agg(['size', 'sum','mean','std'])
a11
# df.groupby('cancellation_policy').agg({'review_scores_value':np.average})

Empty DataFrame
Columns: [size, sum, mean, std]
Index: []

# Ошибки в 2,3,10 ответах.

# Question 12
Cut % Renewable into 5 bins. Group Top15 by the Continent, as well as these new % Renewable bins. How many countries are in each of these groups?

This function should return a Series with a MultiIndex of Continent, then the bins for % Renewable. Do not include groups with no countries.

In [82]:
Top15 = result
Top15["bins"] = pd.cut(Top15["% Renewable"], 5)
#Top15.groupby([ContinentDict, Top15['bins']]).size()
Top15

                                           Country  Rank  Documents  \
Asia          (15.753, 29.227]               China     1     127050
North America (2.212, 15.753]        United States     2      96661
Asia          (2.212, 15.753]                Japan     3      30504
Europe        (2.212, 15.753]       United Kingdom     4      20944
              (15.753, 29.227]  Russian Federation     5      18534
North America (56.174, 69.648]              Canada     6      17899
Europe        (15.753, 29.227]             Germany     7      17027
Asia          (2.212, 15.753]                India     8      15005
Europe        (15.753, 29.227]              France     9      13153
Asia          (2.212, 15.753]          South Korea    10      11983
Europe        (29.227, 42.701]               Italy    11      10964
              (29.227, 42.701]               Spain    12       9428
Asia          (2.212, 15.753]                 Iran    13       8896
Australia     (2.212, 15.753]            Australia    14       8831
South America (56.174, 69.648]              Brazil    15       8668

                                Citable documents  Citations  Self-citations  \
Asia          (15.753, 29.227]             126767     597237          411683
North America (2.212, 15.753]               94747     792274          265436
Asia          (2.212, 15.753]               30287     223024           61554
Europe        (2.212, 15.753]               20357     206091           37874
              (15.753, 29.227]              18301      34266           12422
North America (56.174, 69.648]              17620     215003           40930
Europe        (15.753, 29.227]              16831     140566           27426
Asia          (2.212, 15.753]               14841     128763           37209
Europe        (15.753, 29.227]              12973     130632           28601
Asia          (2.212, 15.753]               11923     114675           22595
Europe        (29.227, 42.701]              10794     111850           26661
              (29.227, 42.701]               9330     123336           23964
Asia          (2.212, 15.753]                8819      57470           19125
Australia     (2.212, 15.753]                8725      90765           15606
South America (56.174, 69.648]               8596      60702           14396

                                Citations per document  H index Energy Supply  \
Asia          (15.753, 29.227]                    4.70      138  127191000000
North America (2.212, 15.753]                     8.20      230   90838000000
Asia          (2.212, 15.753]                     7.31      134   18984000000
Europe        (2.212, 15.753]                     9.84      139    7920000000
              (15.753, 29.227]                    1.85       57   30709000000
North America (56.174, 69.648]                   12.01      149   10431000000
Europe        (15.753, 29.227]                    8.26      126   13261000000
Asia          (2.212, 15.753]                     8.58      115   33195000000
Europe        (15.753, 29.227]                    9.93      114   10597000000
Asia          (2.212, 15.753]                     9.57      104   11007000000
Europe        (29.227, 42.701]                   10.20      106    6530000000
              (29.227, 42.701]                   13.08      115    4923000000
Asia          (2.212, 15.753]                     6.46       72    9172000000
Australia     (2.212, 15.753]                    10.28      107    5386000000
South America (56.174, 69.648]                    7.00       86   12149000000

                                Energy Supply per Capita  ...          2012  \
Asia          (15.753, 29.227]                      93.0  ...  7.124978e+12
North America (2.212, 15.753]                      286.0  ...  1.554216e+13
Asia          (2.212, 15.753]                      149.0  ...  5.569102e+12
Europe        (2.212, 15.753]                      124.0  ...  2.479809e+12
              (15.753, 29.227]                     214.0  ...  1.645876e+12
North America (56.174, 69.648]                     296.0  ...  1.693133e+12
Europe        (15.753, 29.227]                     165.0  ...  3.556724e+12
Asia          (2.212, 15.753]                       26.0  ...  1.924235e+12
Europe        (15.753, 29.227]                     166.0  ...  2.706968e+12
Asia          (2.212, 15.753]                      221.0  ...  1.160809e+12
Europe        (29.227, 42.701]                     109.0  ...  2.077184e+12
              (29.227, 42.701]                     106.0  ...  1.380216e+12
Asia          (2.212, 15.753]                      119.0  ...  4.532569e+11
Australia     (2.212, 15.753]                      231.0  ...  1.211913e+12
South America (56.174, 69.648]                      59.0  ...  2.339209e+12

                                        2013          2014          2015  \
Asia          (15.753, 29.227]  7.672448e+12  8.230121e+12  8.797999e+12
North America (2.212, 15.753]   1.577367e+13  1.615662e+13  1.654857e+13
Asia          (2.212, 15.753]   5.644659e+12  5.642884e+12  5.669563e+12
Europe        (2.212, 15.753]   2.533370e+12  2.605643e+12  2.666333e+12
              (15.753, 29.227]  1.666934e+12  1.678709e+12  1.616149e+12
North America (56.174, 69.648]  1.730688e+12  1.773486e+12  1.792609e+12
Europe        (15.753, 29.227]  3.567317e+12  3.624386e+12  3.685556e+12
Asia          (2.212, 15.753]   2.051982e+12  2.200617e+12  2.367206e+12
Europe        (15.753, 29.227]  2.722567e+12  2.729632e+12  2.761185e+12
Asia          (2.212, 15.753]   1.194429e+12  1.234340e+12  1.266580e+12
Europe        (29.227, 42.701]  2.040871e+12  2.033868e+12  2.049316e+12
              (29.227, 42.701]  1.357139e+12  1.375605e+12  1.419821e+12
Asia          (2.212, 15.753]   4.445926e+11  4.639027e+11           NaN
Australia     (2.212, 15.753]   1.241484e+12  1.272520e+12  1.301251e+12
South America (56.174, 69.648]  2.409740e+12  2.412231e+12  2.319423e+12

                                 SC to C        PopEst  \
Asia          (15.753, 29.227]  0.689313  1.367645e+09
North America (2.212, 15.753]   0.335031  3.176154e+08
Asia          (2.212, 15.753]   0.275997  1.274094e+08
Europe        (2.212, 15.753]   0.183773  6.387097e+07
              (15.753, 29.227]  0.362517  1.435000e+08
North America (56.174, 69.648]  0.190369  3.523986e+07
Europe        (15.753, 29.227]  0.195111  8.036970e+07
Asia          (2.212, 15.753]   0.288973  1.276731e+09
Europe        (15.753, 29.227]  0.218943  6.383735e+07
Asia          (2.212, 15.753]   0.197035  4.980543e+07
Europe        (29.227, 42.701]  0.238364  5.990826e+07
              (29.227, 42.701]  0.194299  4.644340e+07
Asia          (2.212, 15.753]   0.332782  7.707563e+07
Australia     (2.212, 15.753]   0.171939  2.331602e+07
South America (56.174, 69.648]  0.237159  2.059153e+08

                                Citable docs per Capita       med  \
Asia          (15.753, 29.227]                 0.000093  17.02028
North America (2.212, 15.753]                  0.000298  17.02028
Asia          (2.212, 15.753]                  0.000238  17.02028
Europe        (2.212, 15.753]                  0.000319  17.02028
              (15.753, 29.227]                 0.000128  17.02028
North America (56.174, 69.648]                 0.000500  17.02028
Europe        (15.753, 29.227]                 0.000209  17.02028
Asia          (2.212, 15.753]                  0.000012  17.02028
Europe        (15.753, 29.227]                 0.000203  17.02028
Asia          (2.212, 15.753]                  0.000239  17.02028
Europe        (29.227, 42.701]                 0.000180  17.02028
              (29.227, 42.701]                 0.000201  17.02028
Asia          (2.212, 15.753]                  0.000114  17.02028
Australia     (2.212, 15.753]                  0.000374  17.02028
South America (56.174, 69.648]                 0.000042  17.02028

                                % Renewable_med              bins
Asia          (15.753, 29.227]                1  (15.753, 29.227]
North America (2.212, 15.753]                 0   (2.212, 15.753]
Asia          (2.212, 15.753]                 0   (2.212, 15.753]
Europe        (2.212, 15.753]                 0   (2.212, 15.753]
              (15.753, 29.227]                1  (15.753, 29.227]
North America (56.174, 69.648]                1  (56.174, 69.648]
Europe        (15.753, 29.227]                1  (15.753, 29.227]
Asia          (2.212, 15.753]                 0   (2.212, 15.753]
Europe        (15.753, 29.227]                1  (15.753, 29.227]
Asia          (2.212, 15.753]                 0   (2.212, 15.753]
Europe        (29.227, 42.701]                1  (29.227, 42.701]
              (29.227, 42.701]                1  (29.227, 42.701]
Asia          (2.212, 15.753]                 0   (2.212, 15.753]
Australia     (2.212, 15.753]                 0   (2.212, 15.753]
South America (56.174, 69.648]                1  (56.174, 69.648]

[15 rows x 27 columns]

In [92]:
ScimEn.set_index('Country')
Sum_df = pd.merge(pd.merge(Energy, GDP, left_index=True, right_index=True, how='outer'), ScimEn, left_index=True, right_index=True, how='outer')
Sum_df=Sum_df[['Energy Supply','Energy Supply per Capita','% Renewable']] 
Sum_df = Sum_df.reset_index()

In [95]:

Sum_df

,level_0,index,Energy Supply,Energy Supply per Capita,% Renewable
0,0,Afghanistan,321000000,10,78.6693
1,1,Albania,102000000,35,100
2,2,Algeria,1959000000,51,0.55101
3,3,American Samoa,NaN,NaN,0.641026
4,4,Andorra,9000000,121,88.6957
...,...,...,...,...,...
491,491,186,NaN,NaN,NaN
492,492,187,NaN,NaN,NaN
493,493,188,NaN,NaN,NaN
494,494,189,NaN,NaN,NaN
495,495,190,NaN,NaN,NaN